#managerHeading, #fetchHeading{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    letter-spacing: 0.025em;
    margin: 50px auto;
	padding: 5px 0;
    font-size: 2.5em;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
#fetchHeading{
    width: 50%;
}
#managerHeading:hover, #fetchHeading:hover{
	border: 2px solid #4285F4;
}

.adminAlertContainer{
	width: 60%;
	margin: 20px auto;
}
.adminLoadingContainer{
	height: 50vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
#adminMetaContainer{
	position: relative;
	height: 25vh;
	display: flex;
	align-items: center;
}
#adminMetaContainer > Button{
	background-color: red;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 50px;

}

.dateInputWrapper {
	margin: 1rem auto;
	display: flex;
	width: 65%;
	justify-content: space-evenly;
	align-items: center;
	padding: 1rem;
	border-radius: 5px;
	background-color: #72efdd;
}

.dayInfo {
	background-color: #64b5f6;
	width: 65%;
	padding: 1rem;
	height: 30vh;
	margin: 0 auto;
	margin-bottom: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
.infoDiv{
	width: 25%;
	height: 80%;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	border: 3px solid transparent;
	transition: all 200ms linear;
	cursor: pointer;
	background-color: #fff;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.infoDiv:hover{
	border-color: #DB4437;
}
.infoDiv span:nth-child(1){
	font-size: 1.2em;
	font-weight: 600;
	text-transform: uppercase;
}
.infoDiv span:nth-child(2){
	font-size: 2.5em;
	font-weight: 600;
	color: #388e3c;
}

@media (min-width : 300px) and (max-width: 600px){
	#managerHeading, #fetchHeading{
		font-size: 2em;
		padding: 5px 10px;
		letter-spacing: inherit;
		line-height: 1.2em;
		text-align: center;
		width: 85%;
	}
	.dayInfo{
		width: 85%;
		height: 70vh;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.infoDiv{
		width: 90%;
		height: 30%;
	}
	.dateInputWrapper{
		width: 85%;
		height: 30vh;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
	}
	.dateInputWrapper > Button{
		width: 80%;
	}
	.adminAlertContainer{
		width: 85%;
	}
	#managerHeading{
		margin-top: 100px;
	}
	#adminMetaContainer > Button{
		top: 30px;
		left: 50%;
		transform: translateX(-50%);
		width: 85%;
	
	}
	#adminMetaContainer{
		height: 35vh;
	}
  }
