.adminWrapper {
	margin: auto;
	text-align: center;
	background-color: black;
	height: 100vh;
}

.adminWrapper > h1 {
	padding: 1rem;
	color: antiquewhite;
}

.dateInputWrapper {
	margin: 1rem auto;
	display: flex;
	width: 60%;
	justify-content: center;
	align-items: center;
	padding: 1rem;
}

.infoBtn {
	background-color: #1976d1;
	color: white;
	padding: 0;
	border: none;
	font-size: 1rem;
}
#adminOptions{
	width: 100%;
	
}
.logoutBtn {
	position: absolute !important;
	top: 6rem;
	left: 83rem;
}

.dayInfo {
	margin: auto;
	width: 65%;
	padding: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	font-size: 1.3rem;
	background-color: aquamarine;
}
