#navbarContainer {
	position: absolute;
	top: 0;
	background-color: #23272a;
	height: 80px;
	width: 100%;
	color: white;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.homeLink,
.navLink {
	text-decoration: none;
	color: white;
}

#navMeta,
#navListContainer {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	font-size: 1.5rem;
	width: 15%;
}
#navList {
	list-style: none;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}

.activeLink {
	border-bottom: 2px solid #4285f4;
}

@media (min-width: 300px) and (max-width: 600px) {
	#navMeta {
		left: 20px;
	}
	#manage {
		right: 20px;
	}
}
