#spinnerContainer,
#errorId {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

#devicesContainer {
	display: grid;
	width: 90vw;
	margin: 0 auto;
	margin-bottom: 20px;
	padding: 50px;
	grid-template: repeat(1, 450px) / repeat(auto-fit, 400px);
	align-items: center;
	justify-content: center;
	grid-gap: 70px;
	grid-auto-flow: dense;
	grid-auto-rows: 450px;
	background-color: #eeeef1;
}
/* Available Device section */
#deviceEntry {
	position: relative;
	justify-self: center;
	width: 100%;
	height: 100%;
	padding: 10px;
	transition: all 200ms linear;
	background-color: black;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
	border: 3px solid transparent;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}
#deviceEntry:hover {
	border: 3px solid #fa0000;
}

#deviceEntry span {
	font-size: 1.2em;
	font-weight: 600;
}
#pcInfo,
#selectedInfo {
	background-color: white;
	box-sizing: border-box;
	border-radius: 5px;
	padding: 10px;
	width: 100%;
	height: 18%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
#deviceOptions,
#options {
	background-color: white;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 5px;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
}
#submitContainer {
	width: 100%;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 5px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: greenyellow;
}
#submitContainer > span {
	margin-bottom: 5px;
}
#confirmContainer,
#sumbitOptions {
	width: 100%;
	display: flex;
	justify-content: space-evenly;
}

/* Active Device section */
#userDevice {
	background-color: black;
	padding: 10px;
	height: 75vh;
	width: 40vw;
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
}

#userDevice span {
	font-size: 1.4em;
	letter-spacing: 0.015em;
	font-weight: 600;
}

#userInfo,
#updatedInfo {
	box-sizing: border-box;
	padding: 10px;
	border-radius: 5px;
	background-color: white;
	display: flex;
	flex-direction: column;
	width: 90%;
	height: 18%;
	justify-content: space-between;
}
#selectedGame {
	box-sizing: border-box;
	padding: 5px 10px;
	border-radius: 5px;
	width: 90%;
	margin: 0 auto;
	background-color: white;
}
#countdownTimer {
	background-color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	text-transform: uppercase;
	width: 90%;
	height: 30%;
	border-radius: 5px;
}
#countdownTimer span:nth-child(1) {
	font-size: 2em;
}
#countdownTimer span:nth-child(2) {
	color: red;
	font-size: 4em;
}
#userOptions {
	background-color: white;
	box-sizing: border-box;
	padding: 5px;
	border-radius: 5px;
	width: 50%;
	margin: 0 auto;
	display: flex;
	justify-content: space-evenly;
}
#userActions {
	width: 80%;
	display: flex;
	justify-content: space-evenly;
}
@media (min-width: 300px) and (max-width: 600px) {
	#devicesContainer {
		width: 85vw;
		padding: 50px 20px;
		grid-template: repeat(1, 550px) / repeat(auto-fit, 400px);
		grid-auto-rows: 550px;
	}
	#deviceEntry {
		width: 75%;
		padding: 5px;
	}
	#pcInfo,
	#selectedInfo {
		height: 15%;
	}
	#deviceOptions {
		flex-direction: column;
		height: 170px;
	}

	/* Handling active device */
	#userDevice {
		height: 85vh;
		width: 90vw;
		padding: 5px;
	}
	#userDevice span {
		font-size: 1.25em;
		letter-spacing: initial;
	}
	#userInfo,
	#updatedInfo {
		box-sizing: content-box;
		justify-content: space-around;
		width: 95%;
		height: 15%;
		padding: 5px;
	}
	#countdownTimer {
		padding: 0 2px;
		width: 95%;
	}
	#userOptions {
		width: 95%;
		box-sizing: content-box;
	}
	#selectedGame {
		box-sizing: content-box;
		width: 95%;
		padding: 5px;
	}
}
