#devicesContainer{
    display: grid;
    width: 90vw;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 50px;
    grid-template: repeat(1, 350px)/repeat(auto-fit, 400px);
    align-items: center;
    justify-content: center;
    grid-gap: 70px;
    border-radius: 10px;
    grid-auto-flow: dense;
    grid-auto-rows: 350px;
    background: linear-gradient(to bottom, #3c3e3f,#404753);
}
/* Available Device section */
#deviceEntry{
    position: relative;
    justify-self: center;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 3px solid transparent;
    border-radius: 20px;
    transition: all 200ms linear;
    background-color: #fafafd;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
#deviceEntry:hover{
    border: 6px solid blue;
}

#pcInfo span,#selectedInfo span{
    font-size: 1.2em;
    font-weight: 600;
    text-align: center;
    color: white;
}
#pcInfo, #selectedInfo{
    background-color: rgb(15, 15, 15);
    width: 80%;
    height: 18%;
    display: flex;
    border-radius: 20px;
    flex-direction: column;
    justify-content: space-between;
}

#deviceOptions{
    width: 100%;
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    background-color: rgb(222, 221, 236);
}
#deviceOptions TextFeild:hover{
    color: white;
    background-color: white;
}
#options{
    padding: 2px;
    margin: 2px;
}
#submitContainer{
    width: 40%;
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#confirmContainer, #sumbitOptions{
    width: 40%;
    background-color: rgb(248, 248, 242);
    display: flex;
    justify-content: center;
}

/* Active Device section */
#userDevice{
    background-color: yellow;
    height: 70vh;
    width: 40vw;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#userDevice span{
    font-size: 1.4em;
    letter-spacing: 0.015em;
    font-weight: 600;
}

#userInfo, #updatedInfo{
    background-color: orange;
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 15%;
    justify-content: space-between;
}
#selectedGame{
    width: 90%;
    margin: 0 auto;
    background-color: orange;

}
#countdownTimer{
    background-color: skyblue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    width: 90%;
    height: 30%;
}
#countdownTimer span:nth-child(1){
    font-size: 2em;
}
#countdownTimer span:nth-child(2){
    color: red;
    font-size: 4em;
}
#userOptions{
    background-color: red;
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
}
#userActions{
    width: 80%;
    display: flex;
    justify-content: space-evenly;

}