.gamerWrapper {
	margin: 0 auto;
	width: 65%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	margin-bottom: 1rem;
	padding: 1.2rem;
	font-size: 1.2rem;
	background-color: antiquewhite;
}
.gamerWrapper span{
	font-weight: 600;
}