#homeDashboardHeading {
	width: 30%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	margin: 20px auto;
	font-size: 2.5em;
	font-weight: 700;
}
