#homeDashboardHeading {
	width: 30%;
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-transform: uppercase;
	letter-spacing: 0.025em;
	margin: 30px auto;
	font-size: 2.5em;
	font-weight: 700;
}
#scrollToPageTop {
	position: fixed;
	z-index: 3;
	top: 85vh;
	right: 50px;
	width: 0;
	height: 0;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #4285f4;
	cursor: pointer;
	transition: all 200ms linear;
	overflow: hidden;
}

.mainHeading {
	position: absolute;
	top: 5rem;
	left: 5rem;
	z-index: 100;
	color: rgb(102, 43, 156);
	font-size: 2.3rem;
}
@media (min-width: 300px) and (max-width: 600px) {
	#homeDashboardHeading {
		width: 80vw;
	}

	.mainHeading {
		font-size: 0.75rem;
		top: 5rem;
		left: 1rem;
	}
}
